#include "resource.h"

IDI_ICON ICON "../ResizerClear.ico"
IDI_ICON_SMALL ICON "../ResizerClear.ico"

// Embedded DLLs for libvips (62 DLLs, 44.4 MB total)
IDR_DLL_libaom	DLL	"..\\vips-dev-8.18\\bin\\libaom.dll"
IDR_DLL_libarchive_13	DLL	"..\\vips-dev-8.18\\bin\\libarchive-13.dll"
IDR_DLL_libbrotlicommon	DLL	"..\\vips-dev-8.18\\bin\\libbrotlicommon.dll"
IDR_DLL_libbrotlidec	DLL	"..\\vips-dev-8.18\\bin\\libbrotlidec.dll"
IDR_DLL_libbrotlienc	DLL	"..\\vips-dev-8.18\\bin\\libbrotlienc.dll"
IDR_DLL_libc__	DLL	"..\\vips-dev-8.18\\bin\\libc++.dll"
IDR_DLL_libcairo_2	DLL	"..\\vips-dev-8.18\\bin\\libcairo-2.dll"
IDR_DLL_libcfitsio	DLL	"..\\vips-dev-8.18\\bin\\libcfitsio.dll"
IDR_DLL_libcgif_0	DLL	"..\\vips-dev-8.18\\bin\\libcgif-0.dll"
IDR_DLL_libdicom_1	DLL	"..\\vips-dev-8.18\\bin\\libdicom-1.dll"
IDR_DLL_libexif_12	DLL	"..\\vips-dev-8.18\\bin\\libexif-12.dll"
IDR_DLL_libexpat_1	DLL	"..\\vips-dev-8.18\\bin\\libexpat-1.dll"
IDR_DLL_libffi_8	DLL	"..\\vips-dev-8.18\\bin\\libffi-8.dll"
IDR_DLL_libfftw3_3	DLL	"..\\vips-dev-8.18\\bin\\libfftw3-3.dll"
IDR_DLL_libfontconfig_1	DLL	"..\\vips-dev-8.18\\bin\\libfontconfig-1.dll"
IDR_DLL_libfreetype_6	DLL	"..\\vips-dev-8.18\\bin\\libfreetype-6.dll"
IDR_DLL_libfribidi_0	DLL	"..\\vips-dev-8.18\\bin\\libfribidi-0.dll"
IDR_DLL_libgdk_pixbuf_2_0_0	DLL	"..\\vips-dev-8.18\\bin\\libgdk_pixbuf-2.0-0.dll"
IDR_DLL_libgio_2_0_0	DLL	"..\\vips-dev-8.18\\bin\\libgio-2.0-0.dll"
IDR_DLL_libglib_2_0_0	DLL	"..\\vips-dev-8.18\\bin\\libglib-2.0-0.dll"
IDR_DLL_libgmodule_2_0_0	DLL	"..\\vips-dev-8.18\\bin\\libgmodule-2.0-0.dll"
IDR_DLL_libgobject_2_0_0	DLL	"..\\vips-dev-8.18\\bin\\libgobject-2.0-0.dll"
IDR_DLL_libharfbuzz_0	DLL	"..\\vips-dev-8.18\\bin\\libharfbuzz-0.dll"
IDR_DLL_libheif	DLL	"..\\vips-dev-8.18\\bin\\libheif.dll"
IDR_DLL_libhwy	DLL	"..\\vips-dev-8.18\\bin\\libhwy.dll"
IDR_DLL_libIex_3_1	DLL	"..\\vips-dev-8.18\\bin\\libIex-3_1.dll"
IDR_DLL_libIlmThread_3_1	DLL	"..\\vips-dev-8.18\\bin\\libIlmThread-3_1.dll"
IDR_DLL_libimagequant	DLL	"..\\vips-dev-8.18\\bin\\libimagequant.dll"
IDR_DLL_libjpeg_62	DLL	"..\\vips-dev-8.18\\bin\\libjpeg-62.dll"
IDR_DLL_libjxl_cms	DLL	"..\\vips-dev-8.18\\bin\\libjxl_cms.dll"
IDR_DLL_libjxl_threads	DLL	"..\\vips-dev-8.18\\bin\\libjxl_threads.dll"
IDR_DLL_libjxl	DLL	"..\\vips-dev-8.18\\bin\\libjxl.dll"
IDR_DLL_liblcms2_2	DLL	"..\\vips-dev-8.18\\bin\\liblcms2-2.dll"
IDR_DLL_libMagickCore_6_Q16_7	DLL	"..\\vips-dev-8.18\\bin\\libMagickCore-6.Q16-7.dll"
IDR_DLL_libmatio_13	DLL	"..\\vips-dev-8.18\\bin\\libmatio-13.dll"
IDR_DLL_libniftiio	DLL	"..\\vips-dev-8.18\\bin\\libniftiio.dll"
IDR_DLL_libOpenEXR_3_1	DLL	"..\\vips-dev-8.18\\bin\\libOpenEXR-3_1.dll"
IDR_DLL_libopenjp2	DLL	"..\\vips-dev-8.18\\bin\\libopenjp2.dll"
IDR_DLL_libopenslide_1	DLL	"..\\vips-dev-8.18\\bin\\libopenslide-1.dll"
IDR_DLL_libpango_1_0_0	DLL	"..\\vips-dev-8.18\\bin\\libpango-1.0-0.dll"
IDR_DLL_libpangocairo_1_0_0	DLL	"..\\vips-dev-8.18\\bin\\libpangocairo-1.0-0.dll"
IDR_DLL_libpangoft2_1_0_0	DLL	"..\\vips-dev-8.18\\bin\\libpangoft2-1.0-0.dll"
IDR_DLL_libpixman_1_0	DLL	"..\\vips-dev-8.18\\bin\\libpixman-1-0.dll"
IDR_DLL_libpng16_16	DLL	"..\\vips-dev-8.18\\bin\\libpng16-16.dll"
IDR_DLL_libpoppler_155	DLL	"..\\vips-dev-8.18\\bin\\libpoppler-155.dll"
IDR_DLL_libpoppler_glib_8	DLL	"..\\vips-dev-8.18\\bin\\libpoppler-glib-8.dll"
IDR_DLL_libraw_r_23	DLL	"..\\vips-dev-8.18\\bin\\libraw_r-23.dll"
IDR_DLL_librsvg_2_2	DLL	"..\\vips-dev-8.18\\bin\\librsvg-2-2.dll"
IDR_DLL_libsharpyuv_0	DLL	"..\\vips-dev-8.18\\bin\\libsharpyuv-0.dll"
IDR_DLL_libsqlite3_0	DLL	"..\\vips-dev-8.18\\bin\\libsqlite3-0.dll"
IDR_DLL_libtiff_6	DLL	"..\\vips-dev-8.18\\bin\\libtiff-6.dll"
IDR_DLL_libuhdr	DLL	"..\\vips-dev-8.18\\bin\\libuhdr.dll"
IDR_DLL_libunwind	DLL	"..\\vips-dev-8.18\\bin\\libunwind.dll"
IDR_DLL_libvips_42	DLL	"..\\vips-dev-8.18\\bin\\libvips-42.dll"
IDR_DLL_libvips_cpp_42	DLL	"..\\vips-dev-8.18\\bin\\libvips-cpp-42.dll"
IDR_DLL_libwebp_7	DLL	"..\\vips-dev-8.18\\bin\\libwebp-7.dll"
IDR_DLL_libwebpdemux_2	DLL	"..\\vips-dev-8.18\\bin\\libwebpdemux-2.dll"
IDR_DLL_libwebpmux_3	DLL	"..\\vips-dev-8.18\\bin\\libwebpmux-3.dll"
IDR_DLL_libxml2_16	DLL	"..\\vips-dev-8.18\\bin\\libxml2-16.dll"
IDR_DLL_libz1	DLL	"..\\vips-dev-8.18\\bin\\libz1.dll"
IDR_DLL_libznz	DLL	"..\\vips-dev-8.18\\bin\\libznz.dll"
IDR_DLL_libzstd	DLL	"..\\vips-dev-8.18\\bin\\libzstd.dll"
